
body{
    margin: 0 auto;
    padding: 0;
    display: flex;
    height: 30px;
    width: 50%;
    gap: 10px;
}

ul, li{
    list-style: none;
}

#result{
    border: 1px solid gray;
    height: 30px;
    width: 177px;
}

.non-cal{
    background: red;
    color: white;
}