<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>POST방식으로 요청해보기</h1>

    <p>
        특징1. POST방식으로 요청시 URL의 Body영역내에 데이터를 포함시켜 전송<br>
        =>사용자가 입력한 값들이 url에 노출되지 않음 <br>
        =>보안유지가 가능 <br>
        =>즉, 로그인이나 회원가입같은 경우 POST방식이 적합함 <br><br>

        특징2. Body영역은 전송하는 길이에 제한이 없다 <br>
        =>즉, 게시판 작성같은 경우 POST방식이 적합함

        특징3. 즐겨찾기가 가능하나 데이터를 활용할 수 없다. <br>
        => 즉, 기존에 봤던 응답화면을 다시 볼 수 없다. <br>
        => 즉, 검색 기능같은 경우 POST방식에 부적합 함 <br>
    </p>
</body>
</html>